.env
.vscode
*.log
*.code-workspace

scenarios/deep
scenarios/Deep200
scenarios/Deep300
scenarios/DeepSTs
scenarios/GQR
scenarios/GQRDeep
scenarios/GQRTester
scenarios/GQRV
scenarios/LUBM_new
scenarios/Ontology-256
scenarios/RapidGQR
scenarios/LUBM
scenarios/V
scenarios/A
scenarios/U
scenarios/S
scenarios/*/data
scenarios/*/trees-*.txt
scenarios/*/tests
scenarios/*/queries/RDFox/*/*-tgds.rule
scenarios/STB-128
scripts/testers
outputs
experiments
data

utilityTools/old_tools
scripts/old_scripts
systems/Llunatic
systems/chasefun
node_modules

tools/Llunatic-build
tools/tw-rewriting.jar
tools/obda-benchmark-graal-1.0-SNAPSHOT.jar
tools/graal-2-0.0.1-SNAPSHOT-spring-boot.jar
tools/Llunatic-master
# Ignore retrieval script
retrieve.sh

