.env
.vscode
*.log
*.code-workspace

scenarios/deep
scenarios/LUBM
scenarios/V
scenarios/A
scenarios/U
scenarios/S
scenarios/*/data
scenarios/trees-*.txt

tools/Llunatic-build
tools/tw-rewriting.jar
tools/obda-benchmark-graal-1.0-SNAPSHOT.jar
tools/graal-2-0.0.1-SNAPSHOT-spring-boot.jar
tools/Llunatic-master
# Ignore retrieval script
retrieve.sh
