.env
.vscode
*.log
*.code-workspace

scenarios/deep
scenarios/University
scenarios/Adolena
scenarios/StockExchange
scenarios/Vicodi
scenarios/LUBM

tools/Llunatic-build
# Ignore retrieval script
retrieve.sh
